
  <mat-toolbar> Parkinson's Classifier </mat-toolbar>

  <div>
    <div class="body">
      <form class="body" [formGroup]="parkinsonsForm">
        <div class="horizontal">
          <div style="padding: 1vh">
            <mat-form-field appearance="outline">
              <mat-label>MDVP:Fo (Hz)</mat-label>
              <input
                matInput
                type="number"
                placeholder="Ex: 112.51"
                [formControl]="fo"
              />
            </mat-form-field>
          </div>

          <div style="padding: 1vh">
            <mat-form-field appearance="outline">
              <mat-label>MDVP:Fhi (Hz)</mat-label>

              <input
                matInput
                type="number"
                placeholder="Ex: 157.30200"
                [formControl]="fhi"
              />
            </mat-form-field>
          </div>

          <div style="padding: 1vh">
            <mat-form-field appearance="outline">
              <mat-label>MDVP:Flo (Hz)</mat-label>

              <input
                matInput
                type="number"
                placeholder="Ex: 74.99700"
                [formControl]="flo"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="horizontal">
          <div style="padding: 1vh">
            <mat-form-field appearance="outline">
              <mat-label>MDVP:Jitter (%) </mat-label>

              <input
                matInput
                type="number"
                placeholder="Ex: 0.00784"
                [formControl]="jitterPercent"
              />
            </mat-form-field>
          </div>

          <div style="padding: 1vh">
            <mat-form-field appearance="outline">
              <mat-label>MDVP:Jitter (Abs)</mat-label>

              <input
                matInput
                type="number"
                placeholder="Ex: 0.00007"
                [formControl]="jitterAbs"
              />
            </mat-form-field>
          </div>

          <div style="padding: 1vh">
            <mat-form-field appearance="outline">
              <mat-label>MDVP:RAP</mat-label>

              <input
                matInput
                type="number"
                placeholder="Ex: 0.00370"
                [formControl]="rap"
              />
            </mat-form-field>
          </div>

          <div style="padding: 1vh">
            <mat-form-field appearance="outline">
              <mat-label> MDVP:PPQ </mat-label>

              <input
                matInput
                type="number"
                placeholder="Ex: 0.00554"
                [formControl]="ppq"
              />
            </mat-form-field>
          </div>

          <div style="padding: 1vh">
            <mat-form-field appearance="outline">
              <mat-label> Jitter:DDP </mat-label>

              <input
                matInput
                type="number"
                placeholder="Ex: 0.01109"
                [formControl]="ddp"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="horizontal">
          <div style="padding: 1vh">
            <mat-form-field appearance="outline">
              <mat-label> MDVP:Shimmer </mat-label>

              <input
                matInput
                type="number"
                placeholder="Ex: 0.04374"
                [formControl]="shimmer"
              />
            </mat-form-field>
          </div>

          <div style="padding: 1vh">
            <mat-form-field appearance="outline">
              <mat-label> MDVP:Shimmer (dB) </mat-label>

              <input
                matInput
                type="number"
                placeholder="Ex: 0.42600"
                [formControl]="shimmerDb"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="horizontal">
          <div style="padding: 1vh">
            <mat-form-field appearance="outline">
              <mat-label> Shimmer:APQ3 </mat-label>

              <input
                matInput
                type="number"
                placeholder="Ex: 0.02182"
                [formControl]="apq3"
              />
            </mat-form-field>
          </div>

          <div style="padding: 1vh">
            <mat-form-field appearance="outline">
              <mat-label> Shimmer:APQ5 </mat-label>

              <input
                matInput
                type="number"
                placeholder="Ex: 0.03130"
                [formControl]="apq5"
              />
            </mat-form-field>
          </div>

          <div style="padding: 1vh">
            <mat-form-field appearance="outline">
              <mat-label> MDVP:APQ </mat-label>

              <input
                matInput
                type="number"
                placeholder="Ex: 0.02971"
                [formControl]="apq"
              />
            </mat-form-field>
          </div>

          <div style="padding: 1vh">
            <mat-form-field appearance="outline">
              <mat-label> Shimmer:DDA </mat-label>

              <input
                matInput
                type="number"
                placeholder="Ex: 0.06545"
                [formControl]="dda"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="horizontal">
          <div style="padding: 1vh">
            <mat-form-field appearance="outline">
              <mat-label> NHR </mat-label>

              <input
                matInput
                type="number"
                placeholder="Ex: 0.02211"
                [formControl]="nhr"
              />
            </mat-form-field>
          </div>

          <div style="padding: 1vh">
            <mat-form-field appearance="outline">
              <mat-label> HNR </mat-label>

              <input
                matInput
                type="number"
                placeholder="Ex: 21.03300"
                [formControl]="hnr"
              />
            </mat-form-field>
          </div>

          <div style="padding: 1vh">
            <mat-form-field appearance="outline">
              <mat-label> RPDE </mat-label>

              <input
                matInput
                type="number"
                placeholder="Ex: 0.414783"
                [formControl]="rpde"
              />
            </mat-form-field>
          </div>

          <div style="padding: 1vh">
            <mat-form-field appearance="outline">
              <mat-label> DFA </mat-label>

              <input
                matInput
                type="number"
                placeholder="Ex: 0.815285"
                [formControl]="dfa"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="horizontal">
          <div style="padding: 1vh">
            <mat-form-field appearance="outline">
              <mat-label> Spread 1 </mat-label>

              <input
                matInput
                type="number"
                placeholder="Ex: -4.813031"
                [formControl]="spread1"
              />
            </mat-form-field>
          </div>

          <div style="padding: 1vh">
            <mat-form-field appearance="outline">
              <mat-label> Spread 2 </mat-label>

              <input
                matInput
                type="number"
                placeholder="Ex: 0.266482"
                [formControl]="spread2"
              />
            </mat-form-field>
          </div>

          <div style="padding: 1vh">
            <mat-form-field appearance="outline">
              <mat-label> D2 </mat-label>

              <input
                matInput
                type="number"
                placeholder="Ex: 2.301442"
                [formControl]="d2"
              />
            </mat-form-field>
          </div>

          <div style="padding: 1vh">
            <mat-form-field appearance="outline">
              <mat-label> PPE </mat-label>

              <input
                matInput
                type="number"
                placeholder="Ex: 0.284654"
                [formControl]="ppe"
              />
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>

    <div class="bottom-div">
      <div class="button-div">
      <button class="button" mat-raised-button color="primary" (click)="onPredict()">
        Predict
      </button>
      </div>

      <div class="result-div" >
        <div class="result-display-div" [ngStyle]="{'background-color': this.color}">
          {{this.result}}
        </div>
      </div>
    </div>
  </div>
